* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: blueviolet;
}

div {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h2 {
    color: yellow;
}