@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
* {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: rgb(221, 75, 202);
}

p {
    text-align: center;
}

div p {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

td, th {
    padding: 5px;
    text-align: left;
}

thead tr{
    background-color: antiquewhite;
}

tbody tr:nth-child(odd){
    background-color: chocolate;
}

tbody tr:nth-child(even){
    background-color: chartreuse;
}

tbody tr:hover {
    color: rgb(255, 0, 0);
}

input[type="checkbox"] + div {
    display: none;
    position: absolute;
    background-color: rgb(221, 75, 202);
    padding: 10px;
    bottom: 1;
    top: 30px;
    left: 0;
    width: 200px;
}

a {
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
    border-bottom: 0.1px solid gold;
    padding: 5px;
}

a:hover {
    background-color: rgb(207, 14, 255);
}

input[type="checkbox"]:checked + div {
    display: block;
}

input[type="checkbox"]{
    display: none;
}

h1, h3 {
    text-align: center
}